body {
    background-color: skyblue;
}
.loginForm{
    width: 500px;
    text-align: center;
}
.containerForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
