{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>
<table class ="table">
    <tr>
        <th>Nom de la catégorie</th>
        <th>Actions</th>
    </tr>
    {% for category in categories %}
    <tr>
    <td>
        {{category.name}}   
    </td>
    <td>
        <a class="btn btn-primary" href="{{ path("app_categorie_update", {"id": category.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path("app_categorie_delete", {"id": category.id}) }}">Supprimer</a>
    </td>
    </tr>
    {% else %}
    <p>Aucune catégorie à afficher</p>
    {% endfor %}
</table>
<a class="btn btn-success" href="{{ path("app_categorie_new") }}">Créer une catégorie</a>
{% endblock %}
