{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>
{% include('layouts/_flash_message.html.twig') %}
<table class ="table">
    <tr>
        <th>Nom de la catégorie</th>
        <th>Actions</th>
    </tr>
    {% for category in categories %}
    <tr>
    <td>
        {{category.name}}   
    </td>
    <td>
        <a class="btn btn-outline-primary" href="{{ path("app_categorie_update", {"id": category.id}) }}">Modifier</a>
        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')" class="btn btn-danger" href="{{ path("app_categorie_delete", {"id": category.id}) }}">Supprimer</a>
        {# #onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')" est un attribut qui affiche une boîte de dialogue de confirmation lorsque l'utilisateur clique sur le lien de suppression. Si l'utilisateur confirme, la fonction retourne true et le lien est suivi, sinon elle retourne false et le lien n'est pas suivi. #}
    </td>
    </tr>
    {% else %}
    <p>Aucune catégorie à afficher</p>
    {% endfor %}
</table>
<a class="btn btn-success" href="{{ path("app_categorie_new") }}">Créer une catégorie</a>
{% endblock %}
